.accueil {}

.hero {

    &__header {


        &--photo {
            width: 100vw;
            height: calc(100vh - 80px);
            object-fit: cover;
        }

        &--text {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: transparent;
            -webkit-text-stroke: 1px white;
            text-stroke: 1px white;
        }

    }
}