.accueil {

    .hero {

        &__header {


            &--photo {
                width: 100vw;
                height: calc(100vh - 80px);
                object-fit: cover;
            }

            &--text {
                width: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                color: transparent;
                -webkit-text-stroke: 1px white;
                text-stroke: 1px white;
            }

        }
    }
}

.gallery {
    padding: 79px 146px;

    &__inputs {
        display: flex;
        justify-content: space-between;
        justify-self: center;
        flex-wrap: wrap;

        width: 100%;

        &__filters {
            display: flex;
            gap: 36px;
        }
    }

    select {
        width: 260px;
        height: 43px;
        display: flex;
        padding: 11px 18px;
        margin-top: 8px;
        margin-bottom: 8px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        border-radius: 8px;
        border: 1.3px solid #B8BBC2;
        background: var(--couleu--blanc);

        color: var(--couleur--bleu--dark);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.36px;
        text-transform: uppercase;

        cursor: pointer;

        &:focus {
            border-color: #215AFF;
        }


        option {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-transform: none;
            background-color: var(--couleur--blanc);
            text-transform: capitalize;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &:hover {
                background: var(--couleur--rouge);
                color: var(--couleur--blanc);
            }
        }

    }


}

@media only screen and (max-width:1140px) {

    .gallery {
        padding: 79px 146px;

        &__inputs {
            display: flex;
            justify-content: center;
            justify-self: center;
            flex-wrap: wrap;
            gap: 30px;

            &__filters {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        select {


            &:focus {
                border-color: #215AFF;
            }


            option {}

        }


    }
}

@media only screen and (max-width:1000px) {

    .gallery {
        padding: 26px 53px;

        &__inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;

            &__filters {
                display: flex;
                flex-direction: column;
            }
        }

        select {


            &:focus {
                border-color: #215AFF;
            }


            option {}

        }


    }
}