.single__post {
    padding: 38px 146px 109px 146px;
    display: flex;
    flex-direction: column;
}

.container {

    &__top {
        display: flex;
        max-width: 100%;
        height: 80vh;

        &__text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 20px;

            padding-right: 21px;

            h2 {
                max-width: 420px;
                margin-bottom: 0;
            }

            &--line {
                border-bottom: 1px black solid;
            }
        }

        &__img {
            min-width: 265px;
            width: 50%;
            align-items: flex-start;

            img {
                min-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__button {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-bottom: 1px black solid;

        &__contact {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding-right: 21px;


            &--text {}

            &--btn {

                width: 100%;
                max-width: 272px;

                button {
                    color: var(--couleur--noir);

                    font-family: "Space Mono";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    display: flex;
                    width: 100%;
                    max-width: 272px;
                    height: 50px;
                    padding: 8px 15px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;

                    border-radius: 2px;
                    background: var(--couleur--gris--medium);
                    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);

                    cursor: pointer;

                    transition: all .4s ease-in;

                    &:hover {
                        color: var(--couleur--blanc);
                        background-color: var(--couleur--bleu--dark);
                    }
                }
            }
        }

        &__slider {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;

            a {
                align-self: flex-end;
                cursor: pointer;

            }

            .left_arrow,
            .right_arrow {
                display: flex;
                width: 50px;
                height: 25px;
                background: transparent;
                justify-content: flex-end;
                align-self: flex-end;
                cursor: pointer;


                img {
                    width: 100%;
                    display: inline-block;
                    justify-content: flex-end;
                }
            }
        }
    }

    &__bottom {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        justify-content: center;

        h3 {
            padding-top: 77px;
            padding-bottom: 52px;
        }

        ul {
            max-width: 1440px;
            display: flex;
            align-self: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;


            li {
                position: relative;
                width: 564px;
                height: 495px;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
        }

    }
}

.overlay {
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    animation: fadein 1s normal;


    background: rgba(0, 0, 0, 0.60);

    &__icon__lightbox {
        width: 34px;
        height: 34px;
        align-self: end;
        margin: 11px 18px;

        cursor: pointer;
    }

    &__icon__eye {
        width: 46px;
        height: 31.204px;
        align-self: center;
    }

    &__text {
        display: flex;
        justify-content: space-between;
        padding: 12px 17px;

        p {
            color: #fff;
        }
    }
}

.overlay--visible {
    display: block;
}

.overlay--invisible {
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.prev-post-thumbnail,
.next-post-thumbnail {
    z-index: -99;
    position: absolute;
    margin-top: 18px;
    width: 81px;
    height: 71px;
    object-fit: cover;

    animation: fadein 1s ease-in-out;
}

@media screen and (max-width: 900px) {
    .single__post {
        padding: 20px 0;
        width: 100%;
    }

    .container {

        &__top {
            flex-wrap: wrap-reverse;
            height: unset !important;
            justify-content: center;
            gap: 20px;

            &__text {
                width: 500px !important;
                padding-left: 56px;
                text-align: left;

                h2 {
                    width: 100%;
                }

                &--line {
                    border-bottom: unset;
                }
            }

            &__img {
                width: 400px;
                height: 400px;
                align-items: flex-start;

                img {
                    width: 400px;
                    height: 400px;
                    object-fit: cover;
                }
            }
        }

        &__button {
            width: 100%;
            height: unset;
            flex-direction: column;

            border-top: 1px black solid;
            border-bottom: 1px black solid;

            &__contact {
                width: 100%;
                flex-direction: column;
                justify-content: space-around;
                padding-top: 24px;
                padding-bottom: 24px;
                gap: 15px;
            }

            &__slider {
                display: none;
            }
        }

        &__bottom {

            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;

            h3 {
                text-align: center;
            }

            ul {
                max-width: 1440px;
                display: flex;
                align-self: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;

                li {
                    position: relative;
                    width: 317.665px;
                    height: 278.801px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }
            }

        }
    }
}